#page-landing {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(329.54deg, #8FA7B3 0%, #8FA7B3 100%);

  display: flex;
  justify-content: center;
  align-items: center;
}

#page-landing .content-wrapper main {
  max-width: 350px;
}

#page-landing .content-wrapper {
  position: relative;
  width: 100%;
  max-width: 1100px;

  height: 100%;
  max-height: 680px;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;

  background: url('../../assets/casa.png') no-repeat 250% center;
}

#page-landing .content-wrapper img {
  width: 150px;
  height: 150px;
  /* top: 110px; */
  /* left: 190px; */
}

#page-landing .content-wrapper .nome {
  position: absolute;
  width: 349px;
  height: 76px;
  left: 170px;
  top: 61px; 

  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 96px;
  line-height: 69px;

  color: #FFFFFF;
}

#page-landing .content-wrapper main h1 {
  position: absolute;
  right: 700px;
  width: 654px;
  height: 424px;
  top: 70px;
  font-size: 72px;
  font-weight: 900;
  line-height: 70px;

  display: flex;
  align-items: center;
  /* text-align: center; */
}

#page-landing .content-wrapper main p {
  position: relative;
  height: 200px;
  width: 284px;
  right: 200px;;
  /* top: 10px; */
  /* display: flex; */
  /* align-items: flex-start; */

  font-size: 24px;
  line-height: 24px;
}

.content-wrapper .location {
  position: absolute;
  left: 408px;
  top: 610px;

  font-size: 34px;
  line-height: 34px;

  display: flex;
  flex-direction: column;

  text-align: right;
}

.content-wrapper .location strong {
  font-weight: 800;
}

.content-wrapper .enter-app {
  position: absolute;
  right: 0;
  bottom: 0;

  left: 1195px;

  width: 80px;
  height: 80px;
  background: #f5f5f4;
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 0.2s;
}

.content-wrapper .enter-app:hover {
  background: #96FEFF;
}

.content-wrapper .enter-login {
  position: absolute;
  right: 0;
  bottom: 10;

  left: 1095px;

  width: 200px;
  height: 80px;
  background: #f5f5f4;
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 0.2s;
}

.content-wrapper .enter-login:hover {
  background: #96FEFF;
}


